body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2b2b2b;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.nav-link {
    display: inline-block;
    padding: 15px 20px;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 8px;
}

    .nav-link.cotizaciones {
        background-color: #007BFF;
        background-image: url('/img/cotizacion.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .nav-link.personas {
        background-color: #28a745;
        background-image: url('/img/persona.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .nav-link.productos {
        background-color: #8B0000;
        background-image: url('/img/producto.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .nav-link.dentro {
        display: block;
        padding: 40px 20px;
        text-decoration: none;
        color: #ffffff;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 2em;
    }

    .nav-link:hover {
        opacity: 0.8;
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 15px;
    text-align: left;
}

.table thead {
    background-color: #1a1a1a;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #333;
}
