body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1, h2, h3, p {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
    display: inline-block;
}

    a:hover {
        background-color: #8B8B00;
        color: #ffffff;
        transform: scale(1.05);
    }

    a.editar {
        background-color: #007BFF;
        border-color: #007BFF;
        color: #ffffff;
    }

    a.ver {
        background-color: #28a745;
        border-color: #28a745;
        color: #ffffff;
    }

    a.borrar {
        background-color: #dc3545;
        border-color: #dc3545;
        color: #ffffff;
    }

.create {
    background-color: #8B8B00;
    border: 1px solid #8B8B00;
    color: #000000;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
    display: inline-block;
}

a.editar:hover,
a.ver:hover,
a.borrar:hover,
a.create:hover {
    filter: brightness(80%);
}

.form-group {
    margin: 0 auto 15px;
    max-width: 200px;
}

dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dd {
    margin-left: 0;
    margin-bottom: 10px;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 50%;
    box-sizing: border-box;
    background-color: #ffffff;
}

    input:hover,
    select:hover,
    textarea:hover {
        border-color: #8B8B00;
        filter: brightness(50%);
        transform: scale(1.05);
    }

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

.btn-primary {
    background-color: #8B8B00;
    border-color: #8B8B00;
    color: #ffffff;
}

.btn-danger {
    background-color: #D9534F;
    border-color: #D9534F;
}

input[type="submit"] {
    background-color: #8B8B00;
    border-color: #8B8B00;
    color: #ffffff;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #8B8B00;
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table,
th,
td {
    border: 1px solid #333;
    color: #ffffff;
}

th,
td {
    padding: 15px;
    text-align: center;
}

.table thead {
    background-color: #363636;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #8B8B00; 
}

.table tbody tr:nth-child(odd) {
    background-color: #7B7B00; 
}