@{
    ViewData["Title"] = "Personas";
    Layout = null;
}

@if (RoleContext.CurrentRole == null || !(RoleContext.CurrentRole.VerUsuario || RoleContext.CurrentRole.VerCliente || RoleContext.CurrentRole.VerRol))
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}

<link rel="stylesheet" href="~/css/index.css">
<h3>Personas</h3>
<div class="container">
    @if (RoleContext.CurrentRole.VerUsuario)
    {
        <a class="nav-link personas dentro" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
    }
    @if (RoleContext.CurrentRole.VerCliente)
    {
        <a class="nav-link personas dentro" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
    }
    @if (RoleContext.CurrentRole.VerRol)
    {
        <a class="nav-link personas dentro" asp-area="" asp-controller="Rols" asp-action="Index">Roles</a>
    }
    <a class="nav-link text-dark salir dentro" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>
</div>

<p>
    En esta parte puedes ver todo lo relacionado a personas, como los <b>Clientes</b> para cotizaciones y ventas,
    y los propios <b>Usuarios</b> que pueden usar este sistema y los <b>Roles</b> de los Usuarios
</p>
