@{
    ViewData["Title"] = "Personas";
    Layout = null;
}
<link rel="stylesheet" href="~/css/index.css">

<h2>Personas</h2>
<div class="container">
    <a class="nav-link personas dentro" asp-area="" asp-controller="Home" asp-action="VerUsuario">Usuarios</a>
    <a class="nav-link personas dentro" asp-area="" asp-controller="Home" asp-action="VerCliente">Clientes</a>
</div>
<h3>Mantenimiento</h3>
<div class="container">
    <a class="nav-link personas dentro" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
    <a class="nav-link personas dentro" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
</div>


<p>
    En Esta parte puedes ver todo lo relacionado a personas, como los <b>Clientes</b> para cotizaciones, 
    y los propios <b>Usuarios</b> que pueden usar este sistema
</p>