@{
    ViewData["Title"] = "Productos";
    Layout = null;
}
<link rel="stylesheet" href="~/css/index.css">

<div class="container">
    <a class="nav-link productos dentro" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
    <a class="nav-link productos dentro" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
    <a class="nav-link productos dentro" asp-area="" asp-controller="Proveedor" asp-action="Index">Proveedor</a>
    <a class="nav-link productos dentro" asp-area="" asp-controller="Categoria" asp-action="Index">Categorias</a>
</div>

<p>
    Aca puedes ver todo lo relacionado a los productos, como las <b>Marcas</b> y sus <b>Proveedores</b>, las <b>Categorias</b>
    de los productos y los propios <b>Productos</b>
</p>