@{
    ViewData["Title"] = "Ventas";
    Layout = null;
}
<link rel="stylesheet" href="~/css/index.css">
<div class="container">
    @if (RoleContext.CurrentRole != null && (RoleContext.CurrentRole.VerCotizaciones == true))
    {
        <a class="nav-link cotizaciones dentro" asp-controller="Cotizacions" asp-action="Index">Cotizaciones</a>
    }
    @if (RoleContext.CurrentRole != null && (RoleContext.CurrentRole.VerVentas == true))
    {
        <a class="nav-link cotizaciones dentro" asp-controller="Ventas" asp-action="Index">Ventas</a>
    }
    @if (RoleContext.CurrentRole != null && (RoleContext.CurrentRole.VerAnalisis == true))
    {
        <a class="nav-link cotizaciones dentro" asp-controller="Informes" asp-action="Index">Informes</a>
    }
    <a class="nav-link text-dark salir dentro" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>
</div>


<p>
    En esta parte se puede crear las <b>Cotizaciones</b> y <b>Ventas</b> para los <b>Clientes</b>
    tambien se pueden ver los <b>Informes</b> para ver los movimientos del <b>Producto</b>
</p>