@{
    ViewData["Title"] = "Clientes";
    Layout = null;
}
<link rel="stylesheet" href="~/css/personas.css">

@model List<ElTrigal.Models.Cliente>

<h1>Lista de Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre</td>
                <td>@cliente.Telefono</td>
                <td>@cliente.Direccion</td>
            </tr>
        }
    </tbody>
</table>
