@{
    ViewData["Title"] = "Usuarios";
    Layout = null;
}
<link rel="stylesheet" href="~/css/personas.css">

@model List<ElTrigal.Models.Usuario>

<h1>Lista de Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>NameTag</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.NameTag</td>
                <td>@usuario.Rol?.Nombre</td>
            </tr>
        }
    </tbody>
</table>

