@model ElTrigal.Models.Detalle

@{
    Layout = null;
    ViewData["Title"] = "Editar";
}
@if (RoleContext.CurrentRole != null && (!RoleContext.CurrentRole.EditVentas || !RoleContext.CurrentRole.CrearVentas))
{
    <script>window.location.href = '@Url.Action("Index", "Home")';</script>
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/cotizacion.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1>Editar</h1>

    <h4>Código de la Cotización: @Html.DisplayFor(model => model.PerteneceId)</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input asp-for="PerteneceId" type="hidden" />
                    <span asp-validation-for="PerteneceId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductoId" class="control-label">Producto</label>
                    <select asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId"></select>
                    <span asp-validation-for="ProductoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label">Cantidad</label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descuento" class="control-label">Cantidad</label>
                    <input asp-for="Descuento" class="form-control" />
                    <span asp-validation-for="Descuento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-route-perteneceId="@Model.PerteneceId" class="btn btn-secondary">Volver a la Lista</a>
    </div>

</body>
</html>
