@{
    ViewData["Title"] = "Productos";
    Layout = null;
}
<link rel="stylesheet" href="~/css/index.css">

<div class="container">
    <a class="nav-link personas dentro" asp-area="" asp-action="Login">Login</a>
    <a class="nav-link cotizaciones dentro" asp-area="" asp-action="Cotizacion">Buscar Cotización</a>
</div>

<p>
    Aca puedes ver todo lo relacionado a los productos, como las <b>Marcas</b> y sus <b>Proveedores</b>, las <b>Categorias</b>
    de los productos y los propios <b>Productos</b>
</p>